.number{
    font-size: 120px;
    font-style: normal;
    font-family: Arial, sans-serif;
    color: #2b80ff;
}
.explanation{
    font-size: 17px;
    font-style: normal;
    color: #2b80ff;
}
.ref{
    font-size: 17px;
    font-style: normal;
    color: #2b80ff; 
}
div{
    
}