body, h1, p, a{
    margin: 0;
}
*{
    box-sizing:border-box;
  }
body {
    font-family: Arial, sans-serif;
    font-style: normal;
    color: #2b80ff;
  }
.content{
    font-size: 0;
    width: 520px;
    margin: 110px auto 22px;
}
.image{
    width: 520px;
}
.button{
    font-size: 120px;
    letter-spacing: 10px;
    font-weight: 500;
    margin:10px auto 22px;
    cursor: pointer;
}
.button:hover{
    opacity: 0.8;
}
.button, .explanation, .ref{
   width: 420px; 
   text-align: center;
   border-style: solid;
}
.explanation{
    font-size: 17px; 
    margin: 22px auto; 
}
.ref{
    font-size: 17px;
    position: absolute; 
    bottom: 30px
}
.refcolor{
    color:#2b80ff;
}
